/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
	background-color: #3f3f3f;
}

.social-list{
	font-size: 2.5em;
	list-style-type: none;
	margin: 0;
}
.social-list li{
	float: left;
	padding: 0.2em;
	color: #3f3f3f;
}

.social-list li:hover{
	color: #ececec;
  text-shadow: 0px 0px 5px #3f3f3f;
}

.github-source{
	text-decoration: none;
	float: right;
	color: #3f3f3f;
	position: relative;
	top: 2em;
}

.container-content{
	max-width: 800px;
	margin-left :auto;
	margin-right :auto;
}

article {
	padding: 3em;
}

footer, header {
	position: relative;
	background-color: #ececec;
	padding: 3em;
	display: inline-block;
	width: 100%;
  box-sizing: border-box;

}

.logo-container{
	padding:0em 3em;
	position: relative;
	top: -2.5em;
}

.logo{
	position: relative;
	width: 4em;
}

h1 {
		color: #3f3f3f;
		margin: 0px

}

p, h2{
	color: #ececec;
}
img {
	max-width: 100%;
}

figure {
	position: relative;
	margin: 0;
}

figcaption{
	position: absolute;
	display: inline-block;
	text-align: right;
	font-size: 0.8em;
	transform-origin: 100% 0;
	transform: rotate(-6deg);
	bottom: 2em;
	left: -2em;
	background-color: #ececec;
	color: #3f3f3f;
	padding: 0.2em

}

.smiley{
	width: 1em;
}



footer::before,
header::before {
	z-index: -1;
	position: absolute;
	content: '';
	pointer-events; none;
	left: -25%;
	width: 150%;
	height: 7em;
	background: #ececec;
	transform: rotate(-2deg);
}

header::before {
	transform-origin: 100% 100%;
}

footer::before {
	top:0;
	transform-origin: 0 0;

}

.container-background {
	overflow: hidden;
}

@media screen and (min-width: 600px){
	h1{
		font-size: 3em;
	}
	.logo{
		width: 6em;
	}